@import "./Button//Button-1";
@import "./Button//Button-2";

@import "./Explain/Explain";
body {
  background-color: #171717;
}
body.view {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 500px auto;
  grid-gap: 20px;
  gap: 20px;
  .element {
    // background: #212121;
    background: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
    align-items: center;
    height: 500px;
  }
}
