doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="css/style.css")
  body 
    div(class='wrapper')  

      div(class='inner')
        button(class='content-one') Button

      div(class='inner')
        button(class='content-tow') 
          span(class="circle")
          //- <span class="circle" aria-hidden="true">
          span(class='icon arrow')
          //- <span class="icon arrow"></span></span>
          span(class="button-text") Learn More
          //- <span class="button-text">Learn More</span>
      div(class='inner')
        button(class='content-one') Button

      div(class='inner')
        button(class='content-one') Button

      div(class='inner')
        button(class='content-one') Button

      div(class='inner')
        button(class='content-one') Button

      div(class='inner')
        button(class='content-one') Button

  script(src="http://localhost:35729/livereload.js")